@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*,html{
    margin:0;
    padding:0;
}

body{
    background-image: url("/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-align: center;
   
}
h1{
    background-color: #0b3799;
    padding:1rem;
    color:white;
    text-align:left;

}
.form{
    
    margin:5% 5% 0 5%;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label{
    margin:0.5rem;
    font-size:x-large;
    font-weight: bolder;
    text-shadow: 2px 2px black;
}

button{
    font-size:x-large;
    font-weight: bolder;
    align-self: center;
    background-color:#0b3799 ;
    border-radius: 3px;
    border-style:none;
    padding:0.5rem;
    color:white;
   
}

input{
    padding:1rem;
    border-radius: 1px;
    border-style:none;
}

.output{
    color:#0b3799;
    text-shadow: 1px 1px black;
    font-size: xx-large;
    font-weight: bolder;
    margin:3%;

}